@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes flip {
    from {
        transform: rotateY(180deg);
        
    }
    to {
        transform: rotateY(0deg);
        
    }
}


.flip {
    
    animation: flip 0.5s ease-in-out forwards;
}


